.update__cnt {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.update__cnt h1 {
    margin-bottom: 0;
}

.update {
    width: fit-content;
    display: flex;
    gap: .4rem;
    align-items: center;
    font-size: small;
    color: var(--text);
    font-size: small;
    font-weight: 400;
    border-radius: 5px;
    background-color: var(--bg2);
    padding: .5rem;
  }
  
  .update .ok{
    color: var(--status-ok);
    animation: blink 1.7s linear infinite;
  }

  .update .load{
    color: var(--status-load);
    animation: blink 1.7s linear infinite;
  }
  
  .update .err{
    color: var(--status-err);
    animation: blink 1.7s linear infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 659px) {
    .update__cnt {
      display: block;
      margin-bottom: 2rem;
    }
  }