.app {
  display: flex;
  justify-content: space-between;
}

.container {
  width: calc(100% - 20rem);
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  margin-top: 2rem;
}

.content h1 {
  margin: 0;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.updatedAt {
  font-size: small;
  font-weight: 500;
  color: var(--tt-gray);
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

.app a {
  white-space: nowrap;
}

.slink {
  text-decoration: none;
  font-weight: 500;
  color: var(--tt-gray);
  margin-right: 1.2rem;
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
}

.slink__active {
  color: var(--text);
  background-color: var(--bg2);
}

.content__box {
  background-color: var(--bg2);
  border-radius: 0.6rem;
  width: 100%;
  margin-top: 1.4rem;
  padding: 0.4rem 1rem;
}

.profiles__box {
  display: flex;
  gap: 1rem;
}

.webcams__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.wdata__box {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
}

.content__box h3 {
  margin: 0.4rem 0;
}

.logo__mobile {
  display: none;
}

@media only screen and (max-width: 1060px) {
  .container {
    width: 100%;
  }

  .wdata__box {
    flex-direction: column;
  }

  .profiles__box {
    flex-direction: column;
    gap: .3rem;
  }
}

@media only screen and (max-width: 659px) {
  .container {
    width: 100%;
    margin-bottom: 6rem;
  }

  .logo__mobile {
    display: inline;
    width: 45vw;
    padding-bottom: 1rem;
  }

  .wdata__box {
    flex-direction: column;
  }

  .profiles__box {
    flex-direction: column;
    gap: .3rem;
  }
  
  .update__cnt {
    display: block;
    margin-bottom: 2rem;
  }
}
