.graph__box {
    width: fit-content;
    max-width: 100%;
}

.range {
    font-size: .8rem;
    font-weight: 600;
    color: var(--tt-gray);
    margin-left: .7rem;
}

.download__cnt {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.download__cnt h1 {
    margin-bottom: 0;
}

.download__cnt div {
    display: flex;
    align-items: center;
}

.download {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media only screen and (max-width: 1040px) {
    .graph__box {
        width: 100%;
    }
}